@using EntityLayer.Concrete
@model List<Doctor>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<section class="page-title">
    <div class="bg-layer" style="background-image: url(~/Optcare-Pack/Optcare/assets/images/background/page-title.jpg);"></div>
    <div class="auto-container">
        <div class="content-box">
            <h1>Doktorlarımız</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Anasayfa</a></li>
                <li>Doktorlarımız</li>
            </ul>
        </div>
    </div>
</section>
<section class="team-page-section p_relative">
    <div class="auto-container">
        <div class="row clearfix">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                    <div class="team-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box p_relative d_block pr_55">
                            <figure class="image-box p_relative d_block"><img src="/UserImages/@item.AppUser.ImageUrl" alt=""></figure>
                            <div class="lower-content p_absolute r_0 b_45 b_shadow_6 z_1 tran_5">
                                <h3 class="d_block lh_30 mb_3 tran_5"><a href="/Doctor/Details/@item.DoctorId" class="d_iblock color_black">@item.AppUser.FirstName  @item.AppUser.LastName</a></h3>
                                <span class="designation p_relative d_block fs_16 lh_20 font_family_poppins tran_5">@item.Treatment.Name</span>
                                <ul class="social-links clearfix p_absolute l_25 b_14 tran_5">
                                    <li class="p_relative d_iblock pull-left mr_25"><a href="@item.InstagramUrl" class="d_iblock fs_15"><i class="fab fa-instagram"></i></a></li>
                                    <li class="p_relative d_iblock pull-left mr_25"><a href="@item.TwitterUrl" class="d_iblock fs_15"><i class="fab fa-twitter"></i></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>